@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.App {
  /* text-align: center; */
  height: 400px;
  position: absolute;
  margin: auto;
  z-index: 99;
  width: 67%;
}
.container {
  margin: auto;
  padding:3em 0 0 0;
  width: 90%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  height: 100px;
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoB{
  margin: 0;
  width: 13em;
  cursor: pointer;
}
.navBarRight{
  display: flex;
  justify-content: center;
  gap: 2em;
}
.navBarRight > p{
  font-size: 1.7em;
  font-weight: bold;
}
.headerButton{
  cursor: pointer;
}
.body{
  display: flex;
  width: auto;
  height: 1000px;
}
.bodyLeft, .bodyRight{
  background-color:black;
  flex: 1;
  height: 100%;
}
.bodyCenter{
  background-color:lightgray;
  flex: 4;
  height: 100%;
  text-align: center;
}